---
import { Placeholder } from '@repo/design-system/components/custom/placeholder';
import { Heading } from '@repo/design-system/components/custom/typography';
import Layout from '../layouts/layout.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- <Welcome /> -->
	 <Heading>Hello</Heading>
	 <div class="grid grid-cols-2 gap-4">
		 <Placeholder title="Sample" aspect="min" />
	 <Placeholder title="Sample" aspect={"min"} />
	 
	 <Placeholder title="Sample" description='Cool description' chart="pie" />
	 <Placeholder title="Sample" table />
	 <Placeholder client:load title="Sample" chart notes={`
	 - Hello
	 - *important*`} />
	 </div>

</Layout>


